*{
    padding: 0px;
    margin: 0px;
    
}
.header{
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(182, 57, 8);

}
.content-section{
    width: 600px;
    height: 600px;
    font-weight: bolder;
    font-size: 20px;
}
.welcome{
    display: flex;
    margin: 30px;
    justify-content: center;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(61, 48, 4), rgb(236, 236, 248));


}
img{
    width: 400px;
    height: 600px;
}

